body {
  background-image: linear-gradient(45deg, #e7f2ff 25%, #d4e3ff 25%, #d4e3ff 50%, #e7f2ff 50%, #e7f2ff 75%, #d4e3ff 75%, #d4e3ff 100%);
background-size: 16.97px 16.97px;
}

.parent {
   display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 6px;
    margin-left:auto;
    margin-right:auto;
    width:500px;
    margin-top:30px;
    height:500px;
}
    
.div1 {
    grid-row: span 2 / span 2;
    height:105px;
    width:105px;
    padding:2.5px;
    background-color:#ffb7d9;
    outline:1px solid #ff749a;
    border:1px solid #ff9eb8;
    border-radius:3px;
    margin-left: auto;
    margin-right: auto;
    box-sizing:content-box;
    position: relative;
}
#icon {
    outline:1px solid #ff9eb8;
    border:1px solid #ff749a;
    border-radius:3px;
    margin-top:1px;
    margin-left:1px;
    image-rendering:pixelated;
    position:relative;
}
#clara {
  pointer-events: none;
  height:230px;
  position:absolute;
  bottom:0px;
  right:0px;
}

.div2 {
    grid-column: span 3 / span 3;
}

.div3 {
    grid-row: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 3;
}

.div4 {
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 8;
}

.div5 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 11;
}

.div6 {
    grid-column: span 3 / span 3;
    grid-row: span 9 / span 9;
    grid-column-start: 2;
    grid-row-start: 2;
    height:100%;
    position:relative;
    border:1px solid red;
}
#interests {
    background-color:#b2ff9e;
    border:1px solid #67ff8c;
    outline:1px solid #36f765;
    border-radius:5px;
    padding:2.5px;
    height:100px;
    position:relative;
}
#interests div {
    height:calc(100% - 12px);
    overflow:auto;
    padding:5px;
    background-color:white;
    background-image:url("/data/bg/note.png");
    outline:1px solid #67ff8c;
    border:1px solid #36f765;
    border-radius:5px;
    padding-left:39px;
    image-rendering:pixelated ;
}
#he {
  color:white !important;
  font-size:16px;
  -webkit-text-stroke:4px #4d54fc;
  paint-order:stroke fill;
  text-shadow:none;
  font-weight: 600;
  position:relative;
  top:-10px;
  z-index:88;
  margin-bottom: 0;
}
#interests div b {
  color:white;
  -webkit-text-stroke:2px #ff9e49;
  paint-order:stroke fill;
}
#interests div p {
  color:#5c1abc;
  text-shadow: 1px 1px #ffebd6;
}
#interests img {
      
}
#fella {
      position:absolute;
      bottom:-15px;
      right:-15px;
      height:60px;
      rotate: 7deg;
}
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background: none;
}

::-webkit-scrollbar-track:vertical {
  background-image:url('https://i.imgur.com/pzYKGfD.png');
  background-size:100%;
}
::-webkit-scrollbar-track:horizontal {
  background-image:url('https://i.imgur.com/pzYKGfD.png');
  background-size:100%;
}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-button {
  width: 16px;
  height: 16px;
  background: #FF6AC2;
  box-shadow: inset 1px 1px #FFABDD, inset -1px -1px #FF0098;
  border: 1px solid;
  border-color: #FF5DBE #E7008A #E7008A #FF5DBE;
}
#mockmanifesto {
  height:257px;
  overflow:auto;
}